
    .outer{
        background:'none';
        display:block;
        width:650px;
        margin:auto;
        padding: 10px;  
        border: 2px solid #36454F;
        border-radius: 10px;
    }
    body{
        background-image: url(https://thumbs.dreamstime.com/z/telephone-open-book-landline-dial-up-note-phone-directory-pen-alongside-white-background-shadow-effect-34363607.jpg);
        background-size: cover;
    }
    input{
        width: 650px;
        margin-bottom: 10px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid black;
            

    }
    button {
        width: 100%;
        height: 30px;
        background: rgb(116, 105, 168);
        color: white;
        font-weight: bold;
        border: 0;
        border-radius: 10px;
    }
    h1{
        text-align: center;
        font-weight: bold;

    }
    p{
        text-align: center;
        font-weight: bold;
    }
    .date{
        width: 318  px;    
            
    }
    label{
        font-weight: bold;
    }